body {
    background-color: #52b69a;
    color: white;
}

h1 {
    font-weight: bolder;
}

h1, h6 {
    color: #168aad;
}

.page-cont {
    height: 100vh;
}

.custom-box {
    background-color: #b5e48c;
    border-radius: 21px;
    box-shadow: 0 0 8px 12px #d9ed92;
}

#textEmail {
    width: 23rem;
}